<html>
    <body>
        <div class="erros">
            <%if(errosValidacao){%>
                <ul>
                    <%for(var i=0; i<errosValidacao.length; i++) {%>
                        <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                    <%}%>
                </ul>
            <%}%>
        </div>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="Coloque o título"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="150.25"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea rows="10" cols="100" id="descricao" name="descricao" placeholder="Fale sobre o livro"><%=produto.descricao%></textarea>
            </div>

            <input type="submit" value="Gravar" />
        </form>
    </body>
</html>